.customizable{
    display: flex;
    flex-direction: column;
}

.customizable-button{
    padding-top: 5px;
display: flex;
flex-direction: row;
gap: 30px;
}

.customizable-button label{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
}

.customizable{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

